# =================================================================================================
#
#   Specify files/directories to be ignored by the Dockerfile COPY/ADD clause
#   Note: content from "volumes" will still be accessible inside the container
#
#   Syntax:
#       "*"     match any number of characters
#       "?"     match one character
#       "!"     prevent ignore
#       "**"    match any number of directories
#
#   References: https://docs.docker.com/build/building/context/#dockerignore-files
#
# =================================================================================================

# ....Dockerized-NorLab ...........................................................................
**/external_data/
**/artifact/

**/slurm_jobs_logs/*.log
**/slurm_jobs/*.out
**/slurm_jobs/out/*.out

# ....Dockerized-NorLab (Prevent ignore)...........................................................
!**/.dockerized_norlab_project/

# ....Repository related...........................................................................
!**/version.txt
!**/.git
.github
.releaserc.json
CHANGELOG.md
commit_msg_reference.md
visual/

# ....Graphic/image related........................................................................
**/*.svg
**/*.svgz
**/*.drawio
**/drawio/

# ....Text related.................................................................................
**/*.pdf

# ....Python related...............................................................................
**/.pytest_cache
**/.benchmarks
**/__pycache__
**/*.pyc

# ....Jetbrains....................................................................................
/.run/
/.idea/

# ....General......................................................................................
**/.DS_Store
