
# ====Dockerized-NorLab(required)==================================================================
/.dockerized_norlab/configuration/.env.local
/.dockerized_norlab/dn_container_env_variable/.env*
!/.dockerized_norlab/dn_container_env_variable/README.md

# DNA artifact and data non-tracked directory
artifact/*
data/external_data/*
data/shared_data/*

# Track README.md files from ignored DNA artifact and data directory so that those required
# directory exist in vcs
!artifact/**/README.md
!datat/**/README.md

# ====Dockerized-NorLab(recommended)===============================================================
**/slurm_jobs/*.out
**/slurm_jobs/out/*.out

# ====Common=======================================================================================

# ....Jetbrains....................................................................................
.idea/
*.iml

# ....Jetbrains AI.................................................................................
/.junie/iceboxed_plans/
/.junie/scratch.md
!/.junie/

# ....VM...........................................................................................
**/.vagrant/

# ....Python related...............................................................................
**/.pytest_cache/
**/.benchmarks
**/__pycache__
**/*.pyc

# ....Log..........................................................................................
out/
**/*.out
**/*.log

# ....OS...........................................................................................
**/.DS_Store
