
# ====Dockerized-NorLab(required)==================================================================
/.dockerized_norlab/dn_container_env_variable/
/.dockerized_norlab/configuration/.env.local
!/.dockerized_norlab/dn_container_env_variable/README.md

# ====Dockerized-NorLab(recommended)===============================================================
**/external_data/
**/artifact/
!**/external_data/README.md
!**/artifact/README.md
!**/artifact/optuna_storage/README.md
**/slurm_jobs_logs/*.log
**/slurm_jobs/*.out
**/slurm_jobs/out/*.out

# ====Common=======================================================================================

# ....Jetbrains....................................................................................
.idea/
*.iml

# ....Jetbrains AI.................................................................................
/.junie/iceboxed_plans/
/.junie/scratch.md
!/.junie/

# ....VM...........................................................................................
**/.vagrant/

# ....Python related...............................................................................
**/.pytest_cache/
**/.benchmarks
**/__pycache__
**/*.pyc

# ....Log..........................................................................................
out/
**/*.out
**/*.log

# ....OS...........................................................................................
**/.DS_Store
