# =================================================================================================
# Doc
#  - Requirements File Format:  https://pip.pypa.io/en/stable/reference/requirements-file-format/
#  - Requirement Specifiers:  https://pip.pypa.io/en/stable/reference/requirement-specifiers/
#
# =================================================================================================

# example
pyclean

